html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#container{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
main{
  width: 100%;
  height: 100%;
}
.timer{
  width: 100%;
  height: 100%;
}
.timer .clock{
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer .clock .time{
  width: 100%;
  height: auto;
  vertical-align: middle;
  text-align: center;
  font-size: 30vw;
  font-weight: bolder;
  border: none;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.timer .kennung{
  display: block;
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  position: relative;
  float: left;
  font-size: 40px;
  letter-spacing: 20px;
  text-align: center;
}
.timer .buttonOkay{
  width: 100%;
  background-color: #343F7B;
  height: 100px;
  float: left;
  position: relative;
  cursor: pointer;
}
.timer .buttonOkay:hover{
  opacity: 0.8;
}
.timer .buttonOkay span{
  display: block;
  line-height: 100px;
  height: 100px;
  vertical-align: middle;
  text-align: center;;
  width: 100%;
  color: white;
  font-size: 40px;
}
